<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h3>Registration</h3>
	<form method="POST">
		<input type="text" name="nick" placeholder="nick">
		<input type="password" name="pass" placeholder="pass">
		<input type="password" name="conf" placeholder="confirm pass">
		<input type="submit">
	</form>
	<hr>
	<h3>Log in</h3>
	<form method="POST">
		<input type="text" name="log_name" placeholder="login">
		<input type="password" name="log_pass" placeholder="pass">
		<input type="submit">
	</form>
	<hr>
	<p>{{log}}</p>
</body>
</html>