<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search</title>
</head>
<body>
	<h3>Search accounts by nickname</h3>
	<form action="" method="POST">
		<input type="text" name="username" id="text" placeholder="Напишите nickname">
		<input type="submit">
	</form>
	<hr>
	<h3>Search posts by teg</h3>
	<form action="" method="POST">
		<input type="text" name="postteg" placeholder="Напишите teg">
		<input type="submit">
	</form>
	<script type="text/javascript">
	</script>
</body>
</html>